.wrapper {
  padding: var(--mb-0-75);
  display: flex;
  align-items: center;
  border: 1px solid var(--alert-border-color);
  border-radius: 5px;
  background-color: var(--alert-bg-color);
  color: var(--alert-text-color);
  margin-bottom : var(--mb-2)
}

.wrapper > svg {
  margin-right: var(--mb-0-5);
  color: var(--alert-border-color);
}

.wrapper a {
  font-weight: bolder;
  color: var(--alert-text-color);
  text-decoration: underline;
}
