.wrapper {
  width: 100%;
  background-color: var(--form-background-color);
  box-shadow: 0 0 2px var(--inverted-bw);
  border-radius: 0.5rem;
  padding: var(--mb-2) var(--mb-1) var(--mb-1);
  margin-bottom: 2rem;
  border: 1px solid var(--footer-border-color);
}

.table,
.tableHeader,
.tableBody {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
  max-height: 357px;
  overflow-y: scroll;
  position: relative;
  overflow-x: auto;
  max-width: calc(100vw - 2rem);
  table-layout: fixed;
}

.tableHeader {
  width: 100%;
  position: sticky;
  top: 0;
}

.tableHeading {
  background-color: var(--body-color);
}

.tableName {
  margin-bottom: var(--mb-1);
}

.tableBody {
  display: block;
}

.tableRow {
  display: flex;
  width: 100%;
}

.tableEle,
.tableHeading {
  border: 1px solid var(--footer-border-color);
  padding: var(--mb-0-75);
  text-align: center;
}

.tableHeading:last-child {
  padding-right: calc(0.75rem + 9px);
}

.tableRow > .tableEle:nth-child(1),
.tableRow > .tableHeading:nth-child(1) {
  width: 10%;
}

.tableRow > .tableEle:nth-child(2),
.tableRow > .tableHeading:nth-child(2) {
  width: 30%;
}

.tableRow > .tableEle:nth-child(3),
.tableRow > .tableHeading:nth-child(3) {
  width: 20%;
}

.tableRow > .tableEle:nth-child(4),
.tableRow > .tableHeading:nth-child(4) {
  width: 20%;
}

.tableRow > .tableEle:nth-child(5),
.tableRow > .tableHeading:nth-child(5) {
  width: 20%;
}
