.about__container {
  gap: 2rem;
  max-width: var(--big-screen-width);
  margin: 4rem auto 1rem;
}

.wrapper {
  display: flex;
  width: 100%;
}

.wrapper__content {
  width: 100%;
}

@media (min-width: 600px) {
  .wrapper__content {
    padding-left: 250px;
    overflow: hidden;
  }

  .about__container {
    margin: 2rem auto;
  }
}
