.about__container {
  gap: 2rem;
  max-width: var(--big-screen-width);
  margin: 4rem auto;
}

.wrapper {
  display: flex;
  position: relative;
  width : 100%;
}

.pageHeading {
  width: 100%;
  margin-bottom: 2rem;
}

.pageHeading > h1 {
  margin: 0 auto;
  width: fit-content;
}

.wrapper__contianer{
  margin-left :  calc(230px + 1rem );
  padding : 2rem ;
}

@media (min-width: 600px) {
  .about__container {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 1200px;
  }
}
