.wrapper {
  width: fit-content;
  margin: 6rem auto 0;
  padding: 2rem;
}

.wrapper > h1 {
  text-align: center;
}

.btnWrapper {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.btnWrapper_btn {
  padding: var(--mb-2);
  margin: var(--mb-1);
  flex-basis: 50%;
  font-size: var(--h4-font-size);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--landing-input-bg-color);
  border: 1px solid var(--footer-border-color);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-width: 160px;
}

.btnWrapper_btn:hover {
  color: var(--side-bar-items-hover-color);
}

@media (min-width: 496px) {
  .btnWrapper {
    flex-direction: row;
  }
}
